@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?lnfm66');
  src:  url('../fonts/icomoon.eot?lnfm66#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?lnfm66') format('truetype'),
    url('../fonts/icomoon.woff?lnfm66') format('woff'),
    url('../fonts/icomoon.svg?lnfm66#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-calendar:before {
  content: "\e953";
}
.icon-users:before {
  content: "\e972";
}
