/* Reset */ 

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* CSS */ 


body {
	font-family: Arial;
	font-size: 14px;
}

#search-box {
	width: 315px;
	height: 527px;
	background-color: #fff157;
	padding-left: 10px;
  padding-right: 15px;
  box-sizing: border-box;
}

.search-box-header {
	font-weight: normal;
	font-size: 24px;
	color: #2d72e1;
	padding-top: 20px;
}

#flight-modalities {
  margin-top: 10px;
}

.flight-modality {
	font-size: 13px; 
	color: #444444;  
}

.travel-places {
  margin-top: 10px;
}

.input-header {
  width: 100%;
}

.input-title {
  margin-top: 18px;
  font-size: 16px;
  color: #666666;
  display: block;
  margin-bottom: 7px;
}

.full-sized {
  width: 100%;
  height: 45px;
  padding: 5px 10px;
  border: none;
  box-sizing: border-box;
  font-size: 16px;
}

.italic {
  font-style: italic;
}

.all-rounded-borders {
  border-radius: 4px;
}

.left-rounded-borders{
  border-radius: 4px 0px 0px 4px;
}

.right-rounded-borders{
  border-radius: 0px 4px 4px 0px;
}

#date-pack {
  display: flex;
}

.input-date {
  margin-left: 2px;
}

#decision {
  font-size: 13px;
  color: #666666;
}

.check-existence {
  margin-top: 8px;
}

.search-button {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #0050d0;
  box-shadow: inset 0 -4px 0 0 #003fa3;
}

#search-text {
  font-style: normal;
  font-size: 16px;
  color: #ffffff;
}

.passengers-title{
  margin-top: 18px;
  font-size: 16px;
  color: #666666;
  display: block;
  margin-bottom: 7px;
}

.icon-container {
  position: relative;
} 

.icon {
  position: absolute;
  font-size: 18px;
  top: 13px;
  margin-left: 11px; 
  color: #cccccc;
}

.padding-text-icon {
  padding-left: 35px;
}

select {
  background: #ffffff;
}

input::placeholder {
  opacity: 0.7;
  color: #aaaaaa;
}

a {
  text-decoration: none;
}

@media (min-width: 768px){

  #search-box {
    width: 474px;
    height: 362px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .flight-modality {
    margin-right: 37px;
  }

  .travel-places {
    display: flex;
  }

  .input-header {
    margin-right: 2px;
  }

  .secondary-information {
    display: flex;
    margin-top: 5px;
  }

  .search-button {
    height: 45px;
    width: 90px;
  }

  .dates{
    flex: 2;
  }

  .passengers { 
  	margin-left: 7px;
    flex: 1;
  }

  .checkbox-input {
    vertical-align: middle;
  }

  #decision {
    vertical-align: middle;
  }

  .passengers-title{
    margin-top: 4px;
  }

}