@import "compass";



@media(min-width: 768px) {
	.airline-tag{
		position: relative;
		width: 60px;
		overflow: hidden;
		
		&::after{
			content: "";
			background-image: linear-gradient(to right, rgba(255,255,255,0), #fff);
			height: 17px;
			position: absolute;
			top: 0;
			right: 0px;
			width: 55px;
		}
	}
}
