body{
  margin: 0;
  padding-top: 75px;
}

header{
  width: 100%;
  height: 50px;
  background-color: black;
  padding-top: 10px;
  padding-bottom: 2px;
  box-sizing: border-box;
}

input#search-bar{
  margin: 0 auto;
  width: 80%;
  height: 45px;
  padding: 0 20px;
  font-size: 1rem;
  border: 1px solid #D0CFCE;
  outline: none;
  &:focus{
    border: 1px solid #008ABF;
    transition: 0.35s ease;
    color: #008ABF;
    &::-webkit-input-placeholder{
      transition: opacity 0.45s ease;
  	  opacity: 0;
     }
    &::-moz-placeholder {
      transition: opacity 0.45s ease;
  	  opacity: 0;
     }
    &:-ms-placeholder {
     transition: opacity 0.45s ease;
  	 opacity: 0;
     }
   }
 }

 nav{
  width: 100%;
  height: 100px;
  background-color: #666666;
  padding: 12px;
  box-sizing: border-box;
  color: red;
}
input[type=text] {
  width: 25%;
  padding: 10px;
  margin-left: 30%;
}
aside {
  background-color: #e3e3e3;
  border-right: 1px solid grey;
  float: left;
  width: 25%;
  height: 800px;
}
article {
  width: 74%;
  height: 100%;
  float: right;
}

.search-container{
  width: 490px;
  display: block;
  margin: 0 auto;
}

h3{
  background-color:#87aef8;
}

h5, .sort p {
  display: inline-block; margin-left: 10px;
}

.text-validation{
  border: solid 2px red!important;
}

.selected-sort {
  background-color: yellow;
}

.search-icon{
  float: right;
  width: 55px;
  height: 55px;
}

.signIn{
  width: 10%;
  margin: auto;
  height: 100%;
  font-weight: bold;
  float: right;
}
.signIn a{
  color: #ffffff;
}
.subBlock{
  width: 25px;
  height: 25px;
  background-color: white;
  display: inline-block;
  margin-left: 10px;
}
.container {
  width: 75%; height: 100%;
  border: 1px dashed grey;
  margin: auto;
  box-sizing: border-box;
}

.sort {
  background-color: white;
  margin: auto;
  width:95%;
  height: 50px;
}

.contentContainer {
  width: 100%;
  height: auto;
  margin: auto;
}
.box {
  background-color: #d3d3d3;
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: 30px 0 0 0;
}

.box span {
  float: right;
    font-size: 20px;
    color: red;
    font-weight: bold;
}

.loadingContainer {
  position: relative;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
}

.loadingContainer .loadingBox {
  position: absolute;
  width: 400px;
  height: 400px;
  top: 0;
  left: 50%;
  margin-left: -200px;
}

.loadingContainer .loadingBox h3 {
  background-color: white;
  text-align: center;
  font-size: 25px;
}
