.box {
	min-height: 210px;
}

.search-box-padding {
  padding-left: 10px;
  padding-right: 15px;
  padding-top: 20px;
}

.flexible-container {
	display: flex;
}

.radio-margin-right {
	margin-right: 5px;
}

.eva-3-select .select-container:before {
	border: none;
}

.eva-3-select .select-container:after {
	content: "\e142";
	left: -5px;
}

#select-container-personalize.select-container select {
	padding-left: 35px;
	padding-right: 25px;
}

.search-width {
	width: 100%;
}

#borders-right.input-container input {
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

#borders-left.input-container input {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

/** ---------------- Clusters Flights  ---------------- **/

.sm-border-radius {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.date-text-align-right {
	text-align: right;  
}

.fmodality-bg-color {
	background-color: #dddddd;
}

.header-padding {
	padding: 6px 15px 5px 10px;
}

.header-height {
	min-height: 26px;
}

.font-size-11 {
	font-size: 11px;
}

.flexible-container {
	display: flex;
}

.option-height {
	min-height: 116px;
}

.price-box-dimensions {
  min-height: 107px;
  min-width: 300px;
  position: relative;
}

.font-size-price {
	font-size: 24px;
}

.price-box-padding-top {
  padding-left: 10px;
  padding-top: 10px;
}

.price-text-align {
	text-align: left;
}

#card-link {
  line-height: 20px;
  padding: 0px;
}

#fav-icon {
  left: 150px; 
  position: absolute; 
  top:5px;
}

.radio-position {
  left: 10px;
  position: absolute;
  top: 50px;
}

.-sm-box-price-rounded-borders {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.-md-margin-price {
	margin-top: 2px;
}

.hour-info {
  color: #444;
  font-family: Arial;
  font-size: 16px;
}

.stop-border {
  border-bottom: 1px solid;
  display: inline-block;
  padding-bottom: 2px;
  text-align: center;
  width: 56px;
}

.no-direct{
	color: #5C8FE0;
}

.direct{
	color: #39C15C;
}

.relative-container {
	position: relative;
}

.stop {
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #5C8FE0;
  height: 6px;
  position: absolute;
  top: 16px;
  width: 6px;
}

.one-circle {
	left: 23px;
}

.two-circle {
	left: 15px;
}

.two-circle-sibiling {
	right: 35px;
}

.info-location {
	position: absolute;
	right: 10px;
}

.combo-location-box {
	padding-top: 7px; 
}

.bordered-location-box {
  border-radius: 1px;
  border: 1px solid;
  display: inline-block;
  padding: 0px 5px;
}

.flex-column {
	flex-direction: column;
}

.input-container {
	white-space: nowrap;
}

.margin-left-option {
	margin-left: 40px;
}

.margin-top-option {
	margin-top: 15px;
}

.space-around {
	justify-content: space-around;
}

.cluster-flight {
	max-width: 300px;
}

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }

@media (min-width: 768px) {

	.radio-margin-right {
		margin-right: 20px;
	}

	.search-width {
		width: auto;  
	}

	.passengers-margin-left {
		margin-left: 5px;
	}

	#md-lg-borders-right.input-container input {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
	}

	#md-lg-borders-left.input-container input {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
	}

	.date-text-align-right {
		text-align: left; 
	}

	.sm-border-radius {
		border-radius: 0px;
	}

	.fmodality-bg-color {
		background-color: #eeeeee;
	}

	.header-padding {
		box-sizing: border-box;
		padding: 9px 11px 7px 10px;
	}

	.header-height {
		min-height: 50px;
	}

	.option-height {
		min-height: 50px;
	}

	.price-box-dimensions {
		min-height: 210px;
		min-width: 170px;
	}

	.price-box-padding-top {
		padding-top: 15px;
	}

	.font-size-price {
		font-size: 20px;
	}

	.price-text-align {
		text-align: center;
	}

	.price-box-padding-top {
		padding-left: 0px;
	}

	.-sm-box-price-rounded-borders {
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
	}

	.-md-lg-card-margins{
		margin-left: 5px;
		margin-right: 5px;
	}

	.-md-margin-button{
		margin-top: 15px;
	}

	.-md-margin-price {
		margin-top: 10px;
	}

	.cluster-flight {
		max-width: 724px;
	}

	.radio-position {
    left: 10px;
    position: absolute;
    top: 15px;
	}

	.margin-top-option {
		margin-top: 0px;
	}

	.departure-hour-margin {
		margin-left: 15px;
		margin-right: 5px;
	}

	.arrival-hour-margin {
		margin-left: 15px;
	}
}